.main-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
  padding: 40px;
}

.game-title {
  font-weight: bold;
  padding-bottom: 20px;
}

.game-container{
  display: flex;
  flex: 1;
  overflow: hidden; 
  gap: 20px;
}