.movelist-component {
  flex: 1;
  border: 2.5px solid #7c3aed;  
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px var(--accent-primary);
}

.movelist-table-container {
  max-height: 300px;
  overflow: auto;
}