.operationbutton-component {
  display: flex;
}

.operationbutton-component > *{
  margin-right: 5px;
  margin-left: 5px;
}

.rematch-button:disabled {
  filter: brightness(75%);
  cursor: not-allowed;;
}